In [3]:
import numpy as np
import pandas as pd
from scipy.optimize import minimize
import matplotlib.pyplot as plt
from scipy.special import comb
import statsmodels.api as sm

#bring in the data into python dataframe
df = pd.read_excel('C:/Users/User/OneDrive/Desktop/github-repo-folder/adv_bus_analytics/Quiz1_data-1.xlsx')
df.head()

   #Numbers  #Killed
0        59        6
1        60       13
2        62       18
3        56       28
4        63       52

In [4]:
#estimate p in this model

#define the binomial function
def binom(params):
    p = params
    prob_k_heads = comb(df['#Numbers'], df['#Killed']) * p**df['#Killed'] * (1 -p)**(df['#Numbers'] - df['#Killed'])
    return prob_k_heads

In [ ]:
#define the MLE binomial function
def MLE_binom(params):
    return -np.sum(np.log(binom(params)))

In [ ]:
#setup the values for estimating p
starting_val = [0.5]
bounds = [(0, 1)]
mle_model = minimize(MLE_binom, starting_val, method='Nelder-mead', bounds=bounds)
mle_model